{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
    <h1>Liste des événements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Emplacement</th>
                <th>Places</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.titre }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.date|date('d/m/Y H:i') }}</td>
                <td>{{ event.emplacement }}</td>
                <td>{{ event.nombrePlaces }}</td>
                <td>{{ event.prix }} €</td>
                <td>{{ event.category.titre }}</td>
                <td>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                    {{ include('event/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun événement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Créer un nouvel événement</a>
{% endblock %}